<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="far fa-chart-bar"></i> Stats</h5>
    </div>
    <div class="card-body">
        <P><i class="fas fa-images"></i> Images: {{sidebar.stats.images}}</P>
        <P><i class="fas fa-comments"></i> Comments: {{sidebar.stats.comments}}</P>
        <P><i class="fas fa-eye"></i> View: {{sidebar.stats.views}}</P>
        <P><i class="fas fa-heart"></i> Likes: {{sidebar.stats.likes}}</P>
    </div>
</div>